<!DOCTYPE html>
<meta charset="utf-8">
<style>

svg {
  font: 10px sans-serif;
}

.area {
  fill: #4682B4;
  clip-path: url(#clip);
}

.area2 {
  fill: #46B482;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


</style>
<body>
<h1>Data Collection Status</h1>
<p>Traffic Data</p>
<div class="chart-traffic"></div>
<p>Weather Data</p>
<div class="chart-weather"></div>
<p>Job Status</p>
<div class="job-status"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
 var margin = {top: 10, right: 20, bottom: 40, left: 50},
      width = $(window).width() - margin.left - margin.right,
      height = 200 - margin.top - margin.bottom;

function drawTrafficChart(data) {
      var parseDate = d3.time.format("%b %Y").parse;

      var x = d3.time.scale().range([0, width]),
      y = d3.scale.linear().range([height, 0]);

      var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(d3.time.format("%b %d")),
      yAxis = d3.svg.axis().scale(y).orient("left");

      var area = d3.svg.area()
      .interpolate("monotone")
      .x(function(d) { return x(d.date); })
      .y0(height)
      .y1(function(d) { return y(d.count); });

      var svg = d3.select(".chart-traffic").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom);


      var focus = svg.append("g")
      .attr("class", "focus")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  data.forEach(function(d) { 
    d.date = new Date(d.date * 1000);
    d.count = +d.count;
  });
  x.domain(d3.extent(data.map(function(d) { return d.date; })));
  y.domain([0, d3.max(data.map(function(d) { return d.count; }))]);

  focus.append("path")
  .datum(data)
  .attr("class", "area")
  .attr("d", area);

  focus.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);

  focus.append("g")
  .attr("class", "y axis")
  .call(yAxis);
}

function drawWeatherChart(data) {

      var parseDate = d3.time.format("%b %Y").parse;

      var x = d3.time.scale().range([0, width]),
      y = d3.scale.linear().range([height, 0]);

      var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(d3.time.format("%b %d")),
      yAxis = d3.svg.axis().scale(y).orient("left");

      var area = d3.svg.area()
      .interpolate("monotone")
      .x(function(d) { return x(d.date); })
      .y0(height)
      .y1(function(d) { return y(d.count); });

      var svg = d3.select(".chart-weather").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom);


      var focus = svg.append("g")
      .attr("class", "focus")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  data.forEach(function(d) { 
    d.date = new Date(d.date * 1000);
    d.count = +d.count;
  });
  x.domain(d3.extent(data.map(function(d) { return d.date; })));
  y.domain([0, d3.max(data.map(function(d) { return d.count; }))]);

  focus.append("path")
  .datum(data)
  .attr("class", "area2")
  .attr("d", area);

  focus.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);

  focus.append("g")
  .attr("class", "y axis")
  .call(yAxis);
}

$(document).ready(function() {
  $.getJSON('/api/trafficData', 
    {},
    function(data) {
      drawTrafficChart(data);
    });
  $.getJSON('/api/weatherData', 
    {},
    function(data) {
      drawWeatherChart(data);
    });
  $.getJSON('/api/aggregatorStatus', 
    {},
    function(data) {
      // var str = JSON.stringify(obj, null, 2); // spacing level = 2
      // $('.job-status').append(syntaxHighlight(data));
      document.body.appendChild(document.createElement('pre')).innerHTML = syntaxHighlight(data);
    });
});

function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

</script>